#map{
    height: 500px;
    width: 70%;
    //height: 60%;
    margin-left: 250px;
    margin-top: -560px;
}
#username{
    flex-wrap: nowrap;
}
.alert-danger{
    margin: 0px 0px -20px 0px;
}
#inputForm{
    margin: -600px auto 0px;
}
#appt{
    margin-left: -50px;
    margin-right: -60px;
}
#submit_button{
    margin-left: -100px;
}
#my_dataviz{
    margin-left: 650px;
}
#getTripsForm{
    margin: -595px auto 0px;
}
#date_input{
    display: inline;
}
#welcome_text{
    margin: 20px 50px 20px 20px;
    font-family: "Arial Black";
    font-size: 20px;
    color: red;
}
#date{
    margin: 20px 50px 20px 20px;
}
